/.vscode
/Applications/MangaReader/subPrograms/__pycache__
/Applications/MangaReader/subPrograms/__pycache__
/Applications/MangaReader/subPrograms/__pycache__
/Applications/MangaReader/bin/manga
/Applications/MangaReader/dist
/Applications/MangaReader/build
/Applications/MangaReader/Include
/Applications/MangaReader/Lib
/Applications/MangaReader/Scripts
/Applications/MangaReader/pyvenv.cfg
/Applications/MangaReader/main.spec